## Topic: String Based Assignment Problem

### 1. Write a program to reverse a string.

In [1]:
string = "Ankita"
string[::-1]

'atiknA'

### 2. Check if a string is a palindrome.

In [2]:
string = "racecar"
if string[::-1]==string[0::]:
    print("string is a palindrome")

string is a palindrome

### 3. Convert a string to uppercase.

In [3]:
string = 'ankita'
string.upper()

'ANKITA'

### 4. Convert a string to lowercase.

In [4]:
string = "ANKITA"
string.lower()

'ankita'

### 5. Count the number of vowels in a string.

In [5]:
string = "Encyclopedia"
vowels = ['a','e','i','o','u','A','E','I','O','U']
count = 0
for i in string:
    if i in string:
        count += 1
print("Number of vowels in a string ", count)

Number of vowels in a string  12

### 6. Count the number of consonants in a string.

In [6]:
string = "Encyclopedia"
vowels = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']
count = 0

for char in string:
    if char.isalpha() and char not in vowels:
        count += 1

print("Number of consonants in the string:", count)

Number of consonants in the string: 7

### 7. Remove all whitespaces from a string.

In [7]:
string = "ankita gore"
string.replace(' ','')

'ankitagore'

### 8. Find the length of a string without using the `len()` function.

In [8]:
s = "pwskills"
count = 0
for char in s:
    if char.isalpha():
        count +=1
print("the length of string without using len function is ", count)

the length of string without using len function is  8

### 9. Check if a string contains a specific word.

In [9]:
s = 'pwskills'
if 'skills' in s :
    print("the string contains word 'skills'")
else:
    print("The string does not contain the word skills")

the string contains word 'skills'

### 10. Replace a word in a string with another word.

In [10]:
string = "Butterfly looks beautiful"
string.replace("beautiful",'pretty')

'Butterfly looks pretty'

### 11. Count the occurrences of a word in a string.

In [11]:
def count_word_occurences(string, word):
    return string.count(word)

input_string = "this is a sample string in which string word is repeated"
target_word = 'string'

occurences = count_word_occurences(input_string, target_word)
print(f"The word '{target_word}' appears '{occurences}' times in a string.")

The word 'string' appears '2' times in a string.

### 12. Find the first occurrence of a word in a string.

In [12]:
def find_first_occurrence(string, word):
    index = string.find(word)
    return index

# Example usage:
input_string = "This is a sample string, and this string has some repeated words in it. This string is just an example."
target_word = "string"

first_occurrence_index = find_first_occurrence(input_string, target_word)

if first_occurrence_index != -1:
    print(f"The first occurrence of '{target_word}' starts at index {first_occurrence_index}.")
else:
    print(f"'{target_word}' was not found in the string.")

The first occurrence of 'string' starts at index 17.

### 13. Find the last occurrence of a word in a string.

In [13]:
def find_last_occurrence(string, word):
    index = string.rfind(word)
    return index

# Example usage:
input_string = "This is a sample string, and this string has some repeated words in it. This string is just an example."
target_word = "string"

last_occurrence_index = find_last_occurrence(input_string, target_word)

if last_occurrence_index != -1:
    print(f"The last occurrence of '{target_word}' starts at index {last_occurrence_index}.")
else:
    print(f"'{target_word}' was not found in the string.")

The last occurrence of 'string' starts at index 77.

### 14. Split a string into a list of words.

In [14]:
string = "This is a list of string"
string.split()

['This', 'is', 'a', 'list', 'of', 'string']

### 15. Join a list of words into a string.

In [15]:
list_of_words = ['This','is', 'a', 'list','of','string']
join = " ".join(list_of_words)
print(join)

This is a list of string

### 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [16]:
string_with_space = "This is a string"
convert = string_with_space.replace(' ', '_')
print(convert)

This_is_a_string

### 17. Check if a string starts with a specific word or phrase.

In [17]:
string = 'this is a string.'
check = string.startswith('this')
print(check)

True

In [18]:
string = 'this is a string.'
specific_word = 'this'
if string.startswith(specific_word):
    print(f"The string starts with '{specific_word}'.")
else:
    print(f"The string does not starts with '{specific_word}'.")

The string starts with 'this'.

### 18. Check if a string ends with a specific word or phrase.

In [19]:
string = 'this is a string.'
specific_word = 'this'
if string.endswith(specific_word):
    print(f"The string ends with '{specific_word}'.")
else:
    print(f"The string does not ends with '{specific_word}'.")

The string does not ends with 'this'.

### 19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [20]:
greet = "hello world"
greet.title()

'Hello World'

### 20. Find the longest word in a string.

In [21]:
def find_longest_word(input_string):
    # Split the input string into words using whitespace as the separator
    words = input_string.split()

    # Initialize the longest word variable with an empty string
    longest_word = ""

    # Iterate through each word in the list
    for word in words:
        # Check if the current word is longer than the longest word found so far
        if len(word) > len(longest_word):
            longest_word = word

    return longest_word

# Example usage
input_string = "This is a simple example string with some long words."
longest = find_longest_word(input_string)
print("The longest word is:", longest)

The longest word is: example

### 21. Find the shortest word in a string.

In [22]:
def find_short_word(input_string):
    # Split the input string into words using whitespace as the separator
    words = input_string.split()

    # Initialize the short word variable with an empty string
    short_word = ""

    # Iterate through each word in the list
    for word in words:
        # Check if the current word is shorter than the shortest word found so far
        if len(word) < len(short_word) or short_word =="":
            short_word = word

    return short_word

# Example usage
input_string = "This is a simple example string with some long words."
short = find_short_word(input_string)
print("The short word is:", short)

The short word is: a

### 22. Reverse the order of words in a string.

In [23]:
def reverse_words_of_string(input_string):
    words = input_string.split()
    reversed_words = list(reversed(words))
    reversed_string = ' '.join(reversed_words)
    return reversed_string

In [24]:
input_string = 'This is my string use for reversing the order of words'
reversed_string = reverse_words_of_string(input_string)
print("Reversed string:", reversed_string)

Reversed string: words of order the reversing for use string my is This

### 23. Check if a string is alphanumeric.

In [25]:
def check_alphanum(input_string):
    if input_string.isalnum():
        print("input_string is alphanumeric")
    else:
        print("input_string is not alphanumeric")

string = "abcder5645647"
check_alphanum(string)

input_string is alphanumeric

### 24. Extract all digits from a string.

In [26]:
def extract_digits(input_string):
    # Initialize an empty string to store the extracted digits
    extracted_digits = ""

    # Iterate through each character in the input string
    for char in input_string:
        # Check if the character is a digit
        if char.isdigit():
            extracted_digits += char  # Append the digit to the result string

    return extracted_digits

# Example usage
input_string = "abc123def456"
result = extract_digits(input_string)
print("Extracted digits:", result)

Extracted digits: 123456

### 25. Extract all alphabets from a string.

In [27]:
def extract_alpha(input_string):
    # Initialize an empty string to store the extracted digits
    extracted_alpha = ""

    # Iterate through each character in the input string
    for char in input_string:
        # Check if the character is a digit
        if char.isalpha():
            extracted_alpha += char  # Append the digit to the result string

    return extracted_alpha

# Example usage
input_string = "abc123def456"
result = extract_alpha(input_string)
print("Extracted alphabets:", result)

Extracted alphabets: abcdef

### 26. Count the number of uppercase letters in a string.

In [28]:
def count_uppercase(input_string):
    count = 0
    for char in input_string:
        if char.isupper():
            count += 1
    return count

In [29]:
count_uppercase("AnkitaGore")

2

### 27. Count the number of lowercase letters in a string.

In [30]:
def count_lowercase(input_string):
    count = 0
    for char in input_string:
        if char.islower():
            count += 1
    return count

In [31]:
count_lowercase("AnkitaGore")

8

### 28. Swap the case of each character in a string.

In [32]:
a = 'Ankita'
a.swapcase()

'aNKITA'

### 29. Remove a specific word from a string.

In [33]:
def remove_word(input_string, word_to_remove):
    # Use str.replace() to replace the word with an empty string
    result_string = input_string.replace(word_to_remove, '')

    return result_string

# Example usage
input_string = "This is a sample sentence. Remove the word 'sample' from it."
word_to_remove = "sample"
result = remove_word(input_string, word_to_remove)
print("Modified string:", result)

Modified string: This is a  sentence. Remove the word '' from it.

### 30. Check if a string is a valid email address.

In [34]:
def check_email(input_email):
    Email_id = 'ankita@gmail.com'
    if input_email == Email_id:
        print("given mail id is valid")
    else:
        print("given mail id is not valid")

In [35]:
user_input = input(" enter your email address")
check_email(user_input)

 enter your email addressankita@gmail.com
given mail id is valid

### 31. Extract the username from an email address string.

In [36]:
def extract_username(email):
    parts = email.split("@")
    if len(parts) == 2:
        username = parts[0]
        return username
    else:
        return "Invalid email format"

    
email_add = 'ankitaghjgj3263@gmail.com'

username = extract_username(email_add)
print("username:", username)

username: ankitaghjgj3263

### 32. Extract the domain name from an email address string

In [37]:
def extract_domain(email):
    parts = email.split("@")
    if len(parts)==2:
        domain_name = parts[1]
        return domain_name
    else:
        return "invelid email format"
email_add = "ankitagore@gmail.com"
domain_name = extract_domain(email_add)
print("domain name is:",domain_name)

domain name is: gmail.com

### 33. Replace multiple spaces in a string with a single space.

In [38]:
def replace_multiple_spaces_with_single_space(input_string):
    # Split the string into words based on spaces
    words = input_string.split()
    
    # Join the words with a single space to remove extra spaces
    return ' '.join(words)

# Example usage
original_string = "This    is   a   string   with     multiple     spaces."
result = replace_multiple_spaces_with_single_space(original_string)
print(result)

This is a string with multiple spaces.

### 34. Check if a string is a valid URL.

In [39]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False

# Example usage
url = "https://www.example.com"
if is_valid_url(url):
    print(f"{url} is a valid URL.")
else:
    print(f"{url} is not a valid URL.")

https://www.example.com is a valid URL.

### 35. Extract the protocol (http or https) from a URL string.

In [40]:
def extract_protocol(url):
    # Find the index of the first occurrence of "://"
    protocol_end = url.find("://")

    if protocol_end != -1:
        # Extract the protocol from the URL
        protocol = url[:protocol_end]
        return protocol
    else:
        return None

url1 = "https://www.google.com"
url2 = 'http://www.google.com'
print(extract_protocol(url1))
print(extract_protocol(url2))

https
http

### 36. Find the frequency of each character in a string.

In [41]:
def character_frequency(input_string):
    frequency = {}  # Create an empty dictionary to store character frequencies

    for char in input_string:
        if char in frequency:
            frequency[char] += 1  
        else:
            frequency[char] = 1   

    return frequency

### 37. Remove all punctuation from a string.

In [42]:
import string
def remove_punctuation(input_string):
    translator = str.maketrans("","",string.punctuation)
    clean_string = input_string.translate(translator)
    return clean_string

input_string = "Hello, Friend! How are you?"
clean_string = remove_punctuation(input_string)
print(clean_string)

Hello Friend How are you

### 38. Check if a string contains only digits.

In [43]:
def contains_digit_only(string):
    return string.isdigit()

string1 = "78976"
string2 = "hello6746"

check1= contains_digit_only(string1)
check2 = contains_digit_only(string2)

print(check1)
print(check2)

True
False

### 39. Check if a string contains only alphabets.

In [44]:
def check_alpha_only(string):
    return string.isalpha()
string1 = "78976"
string2 = "hello6746"
string3 = "helloworld"

result1 = check_alpha_only(string1)
result2 = check_alpha_only(string2)
result3 = check_alpha_only(string3)

print(f"'{string1}' contains only alphabets:", result1)
print(f"'{string2}' contains only alphabets:", result2)
print(f"'{string3}' contains only alphabets:", result3)

'78976' contains only alphabets: False
'hello6746' contains only alphabets: False
'helloworld' contains only alphabets: True

### 40. Convert a string to a list of characters.

In [45]:
def str_to_list(string):
    char_list = list(string)
    return char_list

string = 'she is beautiful'
char_list = str_to_list(string)
print(char_list)

['s', 'h', 'e', ' ', 'i', 's', ' ', 'b', 'e', 'a', 'u', 't', 'i', 'f', 'u', 'l']

### 41. Check if two strings are anagrams.

In [46]:
def are_anagrams(str1, str2):
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()
    return sorted(str1) == sorted(str2)

string1 = "listen"
string2 = "silent"
string3 = "hello"
string4 = "world"

result1 = are_anagrams(string1, string2)
result2 = are_anagrams(string3, string4)

print(f"'{string1}' and '{string2}' are anagrams:", result1)
print(f"'{string3}' and '{string4}' are anagrams:", result2)

'listen' and 'silent' are anagrams: True
'hello' and 'world' are anagrams: False

### 42. Encode a string using a Caesar cipher.

In [47]:
def caesar_cipher_encode(text, shift):
    encoded_text = ""
    for char in text:
        if char.isalpha():
            # Determine whether the character is uppercase or lowercase.
            is_upper = char.isupper()
            char = char.lower()
            
            # Apply the Caesar cipher shift to the character.
            shifted_char = chr(((ord(char) - ord('a') + shift) % 26) + ord('a'))
            
            # Convert back to uppercase if the original character was uppercase.
            if is_upper:
                shifted_char = shifted_char.upper()
            
            encoded_text += shifted_char
        else:
            # If the character is not a letter, leave it unchanged.
            encoded_text += char
    
    return encoded_text

# Example usage:
text = "Hello, World!"
shift = 3
encoded_text = caesar_cipher_encode(text, shift)
print(encoded_text)

Khoor, Zruog!

### 43. Decode a Caesar cipher encoded string.

In [48]:
def caesar_cipher_decode(encoded_text, shift):
    decoded_text = ""
    for char in encoded_text:
        if char.isalpha():
            # Determine whether the character is uppercase or lowercase.
            is_upper = char.isupper()
            char = char.lower()
            
            # Apply the reverse Caesar cipher shift to the character.
            shifted_char = chr(((ord(char) - ord('a') - shift) % 26) + ord('a'))
            
            # Convert back to uppercase if the original character was uppercase.
            if is_upper:
                shifted_char = shifted_char.upper()
            
            decoded_text += shifted_char
        else:
            # If the character is not a letter, leave it unchanged.
            decoded_text += char
    
    return decoded_text

# Example usage:
encoded_text = "Khoor, Zruog!"
shift = 3
decoded_text = caesar_cipher_decode(encoded_text, shift)
print(decoded_text)

Hello, World!

### 44. Find the most frequent word in a string.

In [49]:
from collections import Counter
import re

def most_frequent_word(text):
    # Split the text into words using regular expressions.
    words = re.findall(r'\w+', text.lower())  # Convert to lowercase for case insensitivity.

    # Use Counter to count the frequency of each word.
    word_count = Counter(words)

    # Find the most common word.
    most_common_word, frequency = word_count.most_common(1)[0]

    return most_common_word, frequency

# Example usage:
text = "This is a sample string. It contains some sample words, and this is one of them. Sample."
most_common_word, frequency = most_frequent_word(text)
print(f"The most frequent word is '{most_common_word}' with a frequency of {frequency}.")

The most frequent word is 'sample' with a frequency of 3.

### 45. Find all unique words in a string.

In [50]:
import re

def find_unique_words(text):
    # Tokenize the text into words using regular expressions.
    words = re.findall(r'\w+', text.lower())  # Convert to lowercase for case insensitivity.

    # Use a set to store unique words.
    unique_words = set(words)

    return unique_words

# Example usage:
text = "This is a sample string. It contains some sample words, and this is one of them. Sample."
unique_words = find_unique_words(text)

print("Unique words in the text:")
for word in unique_words:
    print(word)

Unique words in the text:
is
some
and
of
this
a
it
string
sample
them
contains
one
words

### 46. Count the number of syllables in a string.

In [51]:
import re

def count_syllables(word):
    # Count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

# Example words
word1 = "apple"
word2 = "world"
word3 = "syllable"

# Count syllables
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

# Print the results
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'apple' has 2 syllables.
'world' has 1 syllables.
'syllable' has 3 syllables.

### 47. Check if a string contains any special characters.

In [52]:
import re

def contains_special_characters(input_string):
    # Define a regular expression pattern to match special characters
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

    # Use the search() method to find a match
    match = pattern.search(input_string)

    # Return True if a match is found, False otherwise
    return bool(match)

# Example strings
string1 = "Hello, world!"
string2 = "This is a test."
string3 = "Special@Characters"

# Check if strings contain special characters
result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)

# Print the results
print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

'Hello, world!' contains special characters: True
'This is a test.' contains special characters: True
'Special@Characters' contains special characters: True

### 48. Remove the nth word from a string.

In [53]:
def remove_nth_word(input_string, n):
    # Split the input string into words
    words = input_string.split()

    # Check if n is within a valid range
    if n >= 1 and n <= len(words):
        # Remove the nth word by excluding it from the words list
        removed_word = words.pop(n - 1)

        # Join the remaining words to form the modified string
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None

# Example string and n value
input_str = "This is an example sentence to test the function."
n_value = 4

# Remove the nth word
modified_str, removed_word = remove_nth_word(input_str, n_value)

# Print the results
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Original string: This is an example sentence to test the function.
Modified string: This is an sentence to test the function.
Removed word: example

### 49. Insert a word at the nth position in a string.

In [54]:
def insert_word_at_position(original_string, word_to_insert, n):
    # Check if n is within the valid range.
    if n < 0 or n > len(original_string):
        raise ValueError("Invalid position to insert the word.")

    # Split the original string into two parts and insert the word in between.
    part1 = original_string[:n]
    part2 = original_string[n:]

    # Combine the parts with the word to insert.
    new_string = part1 + word_to_insert + part2

    return new_string

# Example usage:
original_string = "This is a sample sentence."
word_to_insert = "new"
position_to_insert = 3  # Insert "new" after the 3rd character.

result = insert_word_at_position(original_string, word_to_insert, position_to_insert)
print(result)

Thinews is a sample sentence.

### 50. Convert a CSV string to a list of lists.

In [55]:
import csv
from io import StringIO

def csv_string_to_list(csv_string):
    # Create a CSV reader using StringIO to parse the CSV string.
    csv_data = list(csv.reader(StringIO(csv_string)))

    return csv_data

# Example usage:
csv_string = "Name,Age,Location\nJohn,30,New York\nAlice,25,Los Angeles\nBob,35,Chicago"
csv_list = csv_string_to_list(csv_string)
print(csv_list)

[['Name', 'Age', 'Location'], ['John', '30', 'New York'], ['Alice', '25', 'Los Angeles'], ['Bob', '35', 'Chicago']]

# List Based Practice Problem :

### 1. Create a list with integers from 1 to 10.

In [56]:
my_list = list(range(1, 11))
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 2. Find the length of a list without using the `len()` function.

In [57]:
def find_length_list(list2):
    length = 0
    for i in list2:
        length +=1
    return length
length = find_length_list(my_list)
print("length of list:",length)

length of list: 10

### 3. Append an element to the end of a list.

In [58]:
list3 =[4,5,8,7,9,2]
list3.append(11)
list3

[4, 5, 8, 7, 9, 2, 11]

### 4. Insert an element at a specific index in a list.

In [59]:
my_list = [1, 2, 3, 4, 5]

# Insert the element 6 at index 2 (which means it will be the third element in the list).
my_list.insert(2, 6)

print(my_list)

[1, 2, 6, 3, 4, 5]

### 5. Remove an element from a list by its value.

In [60]:
list1 = [1,2,3,4,5,6,7,8,9]
list1.remove(5)
list1

[1, 2, 3, 4, 6, 7, 8, 9]

### 6. Remove an element from a list by its index.

In [61]:
list4 = [2,5,9,89,2,57,'ank']
list4.pop(3)
list4

[2, 5, 9, 2, 57, 'ank']

### 7. Check if an element exists in a list.

In [62]:
my_list =[1,'ankita','hello',25,89] 
element = 'hello'
if element in my_list:
    print(f"{element} exist in list")
else:
    print(f"{element} does not exist in list")

hello exist in list

### 8. Find the index of the first occurrence of an element in a list.

In [63]:
my_list =[1,'ankita','hello',25,89,'hello'] 
element = 'hello'
if element in my_list:
    index = my_list.index(element)
    print(f"The first occurrence of {element} is at index {index}.")
else:      
     print(f"{element} is not in list")

The first occurrence of hello is at index 2.

### 9. Count the occurrences of an element in a list.

In [64]:
my_list = [1,2,3,4,4,5,5,5,5,6,8,9,8]
element =5
if element in my_list:
    count= my_list.count(element)
    print(f"{element} occurs {count} times in the list")
else:
    print(f"{element} is not in list")

5 occurs 4 times in the list

### 10. Reverse the order of elements in a list.

In [65]:
my_list = [1,2,3,4,5,6,7,8,9]
my_list.reverse()
print("reversed list: ", my_list)

reversed list:  [9, 8, 7, 6, 5, 4, 3, 2, 1]

### 11. Sort a list in ascending order.

In [66]:
my_list = [5, 2, 9, 1, 5, 3, 7]

my_list.sort() 

print("Sorted List (in-place):", my_list)

Sorted List (in-place): [1, 2, 3, 5, 5, 7, 9]

### 12. Sort a list in descending order.

In [67]:
my_list = [5, 2, 9, 1, 5, 3, 7]

my_list.sort(reverse= True)  

print("Sorted List (in-place):", my_list)

Sorted List (in-place): [9, 7, 5, 5, 3, 2, 1]

### 13. Create a list of even numbers from 1 to 20.

In [68]:
even = []
for i in range(1,21):
    if i % 2 == 0:
        even.append(i)
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### 14. Create a list of odd numbers from 1 to 20.

In [69]:
odd = [i for i in range(1,21) if i%2 != 0]
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### 15. Find the sum of all elements in a list.

In [70]:
my_list = [7,8,9,7,8,5,6,7]
sum_element = sum(my_list)
print("sum of elements of list",sum_element)

sum of elements of list 57

### 16. Find the maximum value in a list.

In [71]:
my_list = [789,59,7894,46534598,487]
max(my_list)

46534598

### 17. Find the minimum value in a list.

In [72]:
my_list = [789,59,7894,46534598,487]
min(my_list)

59

### 18. Create a list of squares of numbers from 1 to 10.

In [73]:
square_list = [i**2 for i in range(1,11)]
print(square_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 19. Create a list of random numbers.

In [74]:
import random

# Generate a list of 10 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(10)]

print(random_numbers)

[56, 37, 29, 60, 93, 80, 63, 42, 75, 98]

### 20. Remove duplicates from a list.

In [75]:
my_list = [1,2,5,8,9,1,5,4,6,2,3,5]
unique_list = list(set(my_list))
print(unique_list)

[1, 2, 3, 4, 5, 6, 8, 9]

### 21. Find the common elements between two lists.

In [76]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

common_elements = []
for element in list1:
    if element in list2:
        common_elements.append(element)

print(common_elements)

[3, 4, 5]

### 22. Find the difference between two lists.

In [77]:
list1 = [10,20,30,100,88,40,50,60]
list2 = [30,40,50,10,20]
difference = list(set(list1).difference(list2))
print(difference)

[100, 88, 60]

### 23. Merge two lists.

In [78]:
list1 = [10,20,30,100,88,40,50,60]
list2 = [30,40,50,10,20]
merge_list = list1+list2
print(merge_list)

[10, 20, 30, 100, 88, 40, 50, 60, 30, 40, 50, 10, 20]

### 24. Multiply all elements in a list by 2.

In [79]:
list1 = [10,20,30,100,88,40,50,60]
list1 = [x*2 for x in list1]
print(list1)

[20, 40, 60, 200, 176, 80, 100, 120]

### 25. Filter out all even numbers from a list.

In [80]:
list1 = [25, 10, 38, 22, 100, 88, 75]
filtered_list = [x for x in list1 if x % 2 != 0]
print(filtered_list)

[25, 75]

### 26. Convert a list of strings to a list of integers.

In [81]:
# List of strings
str_list = ["10", "20", "30", "40", "50"]

# Convert the list of strings to a list of integers
int_list = [int(x) for x in str_list]

print(int_list)

[10, 20, 30, 40, 50]

### 27. Convert a list of integers to a list of strings.

In [82]:
# List of strings
str_list = ["10", "20", "30", "40", "50"]

# Convert the list of strings to a list of integers
int_list = [int(x) for x in str_list]

print(int_list)

[10, 20, 30, 40, 50]

### 28. Flatten a nested list.

In [83]:
# Example nested list
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

# Function to flatten a nested list
def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened

# Flatten the nested list
flattened_list = flatten_list(nested_list)

# Print the flattened list
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

### 29. Create a list of the first 10 Fibonacci numbers.

In [84]:
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_list = [0, 1]  # Initialize the list with the first two Fibonacci numbers

    for i in range(2, n):
        next_fibonacci = fibonacci_list[i - 1] + fibonacci_list[i - 2]
        fibonacci_list.append(next_fibonacci)

    return fibonacci_list

# Generate the first 10 Fibonacci numbers
fibonacci_numbers = generate_fibonacci(2)

# Print the list of Fibonacci numbers
print("First 10 Fibonacci numbers:", fibonacci_numbers)

First 10 Fibonacci numbers: [0, 1]

### 30. Check if a list is sorted.

In [85]:
# Function to check if a list is sorted in ascending order
def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True

# Example list
ascending_list = [10, 20, 30, 40, 50]

# Check if the list is sorted in ascending order
if is_sorted_ascending(ascending_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.

### 31. Rotate a list to the left by `n` positions.

In [86]:
l1 = ['Ankita', 'Gore', "full stack data science pro", '98965689']
def rotate_left(lst, n):
    if not lst:
        return lst  # Return an empty list if the input list is empty

    n = n % len(lst)  # Ensure n is within the range of the list length
    rotated_lst = lst[n:] + lst[:n]
    return rotated_lst
n =2

rotated_list = rotate_left(l1, n)
print(rotated_list)

['full stack data science pro', '98965689', 'Ankita', 'Gore']

### 32. Rotate a list to the right by `n` positions.

In [87]:
l1 = ['Ankita', 'Gore', "full stack data science pro", '98965689']
def rotate_right(lst, n):
    if not lst:
        return lst  # Return an empty list if the input list is empty

    n = n % len(lst)  # Ensure n is within the range of the list length
    rotated_lst = lst[-n:] + lst[:-n]
    return rotated_lst
n =1

rotated_list = rotate_right(l1, n)
print(rotated_list)

['98965689', 'Ankita', 'Gore', 'full stack data science pro']

### 33. Create a list of prime numbers up to 50.

In [88]:
def is_prime(n):
    if n <=1 :
        return False
    elif n<=3:
        return True
    i = 5
    while i * i <= n:
        if n%i == 0 or n %(i+2)==0:
            return False
        i += 6
    return True

prime_numbers = [num for num in range(2, 51) if is_prime(num)]
print(prime_numbers)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 29, 31, 32, 33, 34, 36, 37, 38, 39, 41, 43, 44, 46, 47, 48]

### 34. Split a list into chunks of size `n`.

In [89]:
def split_list_into_chunks(lst, n):
    return [lst[i:i + n] for i in range(0, len(lst), n)]

# Example usage:
my_list = [1, 2, 3, 4, 5, 6, 7, 8]
chunk_size = 3
result = split_list_into_chunks(my_list, chunk_size)
print(result)

[[1, 2, 3], [4, 5, 6], [7, 8]]

### 35. Find the second largest number in a list.

In [90]:
def find_second_largest(lst):
    if len(lst) < 2:
        return "List must have at least two elements."

    largest = second_largest = None

    for num in lst:
        if largest is None or num > largest:
            second_largest = largest
            largest = num
        elif second_largest is None or num > second_largest:
            second_largest = num

    if second_largest is None:
        return "There is no second largest number."

    return second_largest

# Example usage:
my_list = [1, 3, 5, 2, 7, 2, 8]
result = find_second_largest(my_list)
print("The second largest number is:", result)

The second largest number is: 7

### 36. Replace every element in a list with its square.

In [91]:
my_list = [2,4,5,6,7,8,9,10]
my_list=[x**2 for x in my_list]
my_list

[4, 16, 25, 36, 49, 64, 81, 100]

### 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [92]:
my_list = ['apple', 'banana', 'cherry', 'date']
my_dict = {element: index for index, element in enumerate(my_list)}
print(my_dict)

{'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

### 38. Shuffle the elements of a list randomly.

In [93]:
import random
my_list = [1, 2, 3, 4, 5]
# Shuffle the list in place
random.shuffle(my_list)
print(my_list)

[5, 3, 4, 2, 1]

### 39. Create a list of the first 10 factorial numbers.

In [94]:
def factorial(n):
    if n == 0:
        return 1
    else:
        result = 1
        for i in range(1, n + 1):
            result *= i
        return result
# Create a list of the first 10 factorial numbers
factorial_numbers = [factorial(n) for n in range(1, 11)]
print(factorial_numbers)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

### 40. Check if two lists have at least one element in common.

In [95]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
set1 = set(list1)
set2 = set(list2)
if set1.intersection(set2):
    print("The lists have at least one element in common.")
else:
    print("The lists do not have any common elements.")

The lists have at least one element in common.

### 41. Remove all elements from a list.

In [96]:
my_list=[2,5,6,8.9,28,27,56,71,30]
my_list.clear()
my_list

[]

### 42. Replace negative numbers in a list with 0.

In [97]:
my_list = [25,89,-85,12,-65,21,45,-74]
for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0

print(my_list)

[25, 89, 0, 12, 0, 21, 45, 0]

### 43. Convert a string into a list of words.

In [98]:
text = "This is a sample string that you can convert into a list of words."
# Split the string into a list of words
word_list = text.split()
print(word_list)

['This', 'is', 'a', 'sample', 'string', 'that', 'you', 'can', 'convert', 'into', 'a', 'list', 'of', 'words.']

### 44. Convert a list of words into a string.

In [99]:
word_list = ['This', 'is', 'a', 'list', 'of', 'words.']
# Convert the list of words into a string
text = ' '.join(word_list)
print(text)

This is a list of words.

### 45. Create a list of the first `n` powers of 2.

In [100]:
n = 5  
powers_of_2 = [2 ** i for i in range(n)]

print(powers_of_2)

[1, 2, 4, 8, 16]

### 46. Find the longest string in a list of strings.

In [101]:
string_list = ["apple", "banana", "cherry", "date", "fig"]
# Find the longest string in the list
longest_string = max(string_list, key=len)
print("The longest string is:", longest_string)

The longest string is: banana

### 47. Find the shortest string in a list of strings.

In [102]:
string_list = ["apple", "banana", "cherry", "date", "fig"]
# Find the longest string in the list
longest_string = min(string_list, key=len)
print("The shortest string is:", longest_string)

The shortest string is: fig

### 48. Create a list of the first `n` triangular numbers.

In [103]:
n = 5  # Change this to the number of triangular numbers you want
triangular_numbers = []
for i in range(1, n + 1):
    triangular_numbers.append(i * (i + 1) // 2)

print(triangular_numbers)

[1, 3, 6, 10, 15]

### 49. Check if a list contains another list as a subsequence.

In [104]:
def is_subsequence(sub, main):
    sub_len = len(sub)
    return all(sub[i] in main for i in range(sub_len))

# Example usage
main_list = [1, 2, 3, 4, 5, 6, 7]
sub_list = [2, 4, 6]

if is_subsequence(sub_list, main_list):
    print("The sub_list is a subsequence of main_list.")
else:
    print("The sub_list is not a subsequence of main_list.")

The sub_list is a subsequence of main_list.

### 50. Swap two elements in a list by their indices.

In [105]:
def swap_elements(my_list, index1, index2):
    # Check if the indices are valid
    if 0 <= index1 < len(my_list) and 0 <= index2 < len(my_list):
        my_list[index1], my_list[index2] = my_list[index2], my_list[index1]

# Example usage
my_list = [1, 2, 3, 4, 5]

# Swap elements at index 1 and 3
swap_elements(my_list, 1, 3)
print(my_list)

[1, 4, 3, 2, 5]

# Tuple Based Practice Problem :

### 1. Create a tuple with integers from 1 to 5.

In [106]:
tuple(range(1,6))

(1, 2, 3, 4, 5)

In [107]:
### 2. Access the third element of a tuple.

In [108]:
t1 = (1,2,3,4,5,6)
third_element = t1[2]
third_element

3

### 3. Find the length of a tuple without using the `len()` function.

In [109]:
t2 =(2,5,8,9,87,6,5)
length = 0
for i in t2:
    length +=1

print("tuple length: ", length)

tuple length:  7

### 4. Count the occurrences of an element in a tuple.

In [110]:
t3 = (25,89,58,21,54,69,89,89)
element = 89
if element in t3:
    occurence = t3.count(element)
    print(f"{element} occurs {occurence} times in t3")
else:
    print(f"{element} is not present in t3")

89 occurs 3 times in t3

### 5. Find the index of the first occurrence of an element in a tuple.

In [111]:
my_tuple = [12,12,36,85,12,12,50]
element = 12
if element in my_tuple:
    index = my_tuple.index(element)  
    print(f"The first occurrence of {element} is at index {index}.")
else:      
     print(f"{element} is not in list")

The first occurrence of 12 is at index 0.

### 6. Check if an element exists in a tuple.

In [112]:
my_tuple = (1, 2, 3, 4, 5)
element_to_check = 3
if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

3 exists in the tuple.

### 7. Convert a tuple to a list.

In [113]:
my_tuple = (1, 2, 3, 4, 5)
# Convert the tuple to a list
my_list = list(my_tuple)
print(my_list)

[1, 2, 3, 4, 5]

### 8. Convert a list to a tuple.

In [114]:
list1 = [2,8,9,4,1,5,7,9]
my_tuple = tuple(list1)
print(my_tuple)

(2, 8, 9, 4, 1, 5, 7, 9)

### 9. Unpack the elements of a tuple into variables.

In [115]:
my_tuple = (1, 2, 3)

# Unpack the elements into variables
var1, var2, var3 = my_tuple

print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 1
var2: 2
var3: 3

### 10. Create a tuple of even numbers from 1 to 10.

In [116]:
even_numbers = tuple(x for x in range(2, 11, 2))
print(even_numbers)

(2, 4, 6, 8, 10)

### 11. Create a tuple of odd numbers from 1 to 10.

In [117]:
odd_numbers = tuple(x for x in range(1,11,2))
print(odd_numbers)

(1, 3, 5, 7, 9)

In [118]:
odd_numbers = tuple(x for x in range(1, 11) if x % 2 != 0)
print(odd_numbers)

(1, 3, 5, 7, 9)

### 12. Concatenate two tuples.

In [119]:
t1 = (1,4,8,3,9,7)
t2 = (5,8,89,52,87)
concatenate = t1 + t2
print(concatenate)

(1, 4, 8, 3, 9, 7, 5, 8, 89, 52, 87)

### 13. Repeat a tuple three times.

In [120]:
t1 = (1,2,7,89,5,8,6)
t1_three = t1*3
print(t1_three)

(1, 2, 7, 89, 5, 8, 6, 1, 2, 7, 89, 5, 8, 6, 1, 2, 7, 89, 5, 8, 6)

### 14. Check if a tuple is empty.

In [121]:
my_tuple = ()  # An empty tuple
if not my_tuple:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

### 15. Create a nested tuple.

In [122]:
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
print(nested_tuple)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### 16. Access the first element of a nested tuple.

In [123]:
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
# Access the first element of the first inner tuple
first_element = nested_tuple[0][0]
print("The first element of the nested tuple:", first_element)

The first element of the nested tuple: 1

### 17. Create a tuple with a single element.

In [124]:
single_element_tuple = (42,)
print(single_element_tuple)

(42,)

### 18. Compare two tuples.

In [125]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

# Equal comparison
if tuple1 == tuple2:
    print("tuple1 and tuple2 are equal.")
else:
    print("tuple1 and tuple2 are not equal.")

tuple3 = (4, 5, 6)

# Greater than comparison
if tuple1 > tuple3:
    print("tuple1 is greater than tuple3.")
else:
    print("tuple1 is not greater than tuple3.")

tuple1 and tuple2 are equal.
tuple1 is not greater than tuple3.

### 19. Delete a tuple.

In [126]:
my_tuple = (1, 2, 3, 4, 5)
my_tuple = None
my_tuple

### 20. Slice a tuple.

In [127]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
# Slice the tuple to create a new tuple with elements from index 2 to 5 (inclusive)
sliced_tuple = my_tuple[2:6]
print(sliced_tuple)

(3, 4, 5, 6)

### 21. Find the maximum value in a tuple.

In [128]:
my_tuple = (10, 5, 30, 15, 20)
max_value = max(my_tuple)
print("The maximum value in the tuple is:", max_value)

The maximum value in the tuple is: 30

### 22. Find the minimum value in a tuple.

In [129]:
my_tuple = (10, 5, 30, 15, 20)
max_value = min(my_tuple)
print("The minimum value in the tuple is:", max_value)

The minimum value in the tuple is: 5

### 23. Convert a string to a tuple of characters.

In [130]:
my_string = "Hello, World!"
char_tuple = tuple(char for char in my_string)
print(char_tuple)

('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

### 24. Convert a tuple of characters to a string.

In [131]:
char_tuple = ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')
my_string = ''.join(char_tuple)
print(my_string)

Hello, World!

### 25. Create a tuple from multiple data types.

In [132]:
mixed_tuple = (1, "apple", 3.14, True)
print(mixed_tuple)

(1, 'apple', 3.14, True)

### 26. Check if two tuples are identical.

In [133]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (1, 2, 3, 4, 5)

if tuple1 == tuple2:
    print("The two tuples are identical.")
else:
    print("The two tuples are not identical.")

The two tuples are identical.

### 27. Sort the elements of a tuple.

In [134]:
my_tuple = (5, 2, 9, 1, 8)
sorted_list = sorted(my_tuple)
sorted_tuple = tuple(sorted_list)
print(sorted_tuple)

(1, 2, 5, 8, 9)

### 28. Convert a tuple of integers to a tuple of strings.

In [135]:
int_tuple = (1, 2, 3, 4, 5)
str_tuple = tuple(str(x) for x in int_tuple)
print(str_tuple)

('1', '2', '3', '4', '5')

### 29. Convert a tuple of strings to a tuple of integers.

In [136]:
str_tuple = ('1', '2', '3', '4', '5')
int_tuple = tuple(int(x) for x in str_tuple)
print(int_tuple)

(1, 2, 3, 4, 5)

### 30. Merge two tuples.

In [137]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2
print(merged_tuple)

(1, 2, 3, 4, 5, 6)

### 31. Flatten a nested tuple.

In [138]:
def flatten_nested_tuple(nested_tuple):
    flat_tuple = ()
    
    for item in nested_tuple:
        if isinstance(item, tuple):
            flat_tuple += flatten_nested_tuple(item)
        else:
            flat_tuple += (item,)
    
    return flat_tuple

nested_tuple = ((1, 2), (3, (4, 5)), 6)

flat_tuple = flatten_nested_tuple(nested_tuple)
print(flat_tuple)

(1, 2, 3, 4, 5, 6)

### 32. Create a tuple of the first 5 prime numbers.

In [139]:
prime_numbers = (2, 3, 5, 7, 11)
print(prime_numbers)

(2, 3, 5, 7, 11)

### 33. Check if a tuple is a palindrome.

In [140]:
def is_palindrome(t):
    return t == t[::-1]
my_tuple1 = (1, 2, 3, 2, 1)
my_tuple2 = (1, 2, 3, 4, 5)

if is_palindrome(my_tuple1):
    print("my_tuple1 is a palindrome.")
else:
    print("my_tuple1 is not a palindrome.")

if is_palindrome(my_tuple2):
    print("my_tuple2 is a palindrome.")
else:
    print("my_tuple2 is not a palindrome.")

my_tuple1 is a palindrome.
my_tuple2 is not a palindrome.

### 34. Create a tuple of squares of numbers from 1 to 5.

In [141]:
squares_tuple = tuple(x ** 2 for x in range(1, 6))
print(squares_tuple)

(1, 4, 9, 16, 25)

### 35. Filter out all even numbers from a tuple.

In [142]:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
filtered_tuple = tuple(x for x in original_tuple if x % 2 != 0)
print(filtered_tuple)

(1, 3, 5, 7, 9)

### 36. Multiply all elements in a tuple by 2.

In [143]:
original_tuple = (1, 2, 3, 4, 5)
result_tuple = tuple(x * 2 for x in original_tuple)
print(result_tuple)

(2, 4, 6, 8, 10)

### 37. Create a tuple of random numbers.

In [144]:
import random
random_tuple = tuple(random.randint(1, 100) for _ in range(5))
print(random_tuple)

(80, 72, 41, 37, 15)

### 38. Check if a tuple is sorted.

In [145]:
def is_sorted(t):
    return t == tuple(sorted(t))
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 2, 8, 1, 4)

if is_sorted(sorted_tuple):
    print("sorted_tuple is sorted.")
else:
    print("sorted_tuple is not sorted.")

if is_sorted(unsorted_tuple):
    print("unsorted_tuple is sorted.")
else:
    print("unsorted_tuple is not sorted.")

sorted_tuple is sorted.
unsorted_tuple is not sorted.

### 39. Rotate a tuple to the left by `n` positions.

In [146]:
def rotate_left_tuple(t, n):
    n = n % len(t)  # Ensure n is within the length of the tuple
    return t[n:] + t[:n]
original_tuple = (1, 2, 3, 4, 5)
rotated_tuple = rotate_left_tuple(original_tuple, 2)
print(rotated_tuple)

(3, 4, 5, 1, 2)

### 40. Rotate a tuple to the right by `n` positions.

In [147]:
def rotate_right_tuple(t, n):
    n = n % len(t)
    return t[-n:] + t[:-n]
original_tuple = (1, 2, 3, 4, 5)
rotated_tuple = rotate_right_tuple(original_tuple, 2)
print(rotated_tuple)

(4, 5, 1, 2, 3)

### 41. Create a tuple of the first 5 Fibonacci numbers.

In [148]:
def generate_fibonacci(n):
    fibonacci_sequence = [0, 1]
    
    while len(fibonacci_sequence) < n:
        next_number = fibonacci_sequence[-1] + fibonacci_sequence[-2]
        fibonacci_sequence.append(next_number)
    return tuple(fibonacci_sequence)
fibonacci_tuple = generate_fibonacci(5)
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

### 42. Create a tuple from user input.

In [149]:
input_string = input("Enter a list of values separated by commas: ")
input_list = input_string.split(",")
user_tuple = tuple(input_list)
print("User input as a tuple:", user_tuple)

Enter a list of values separated by commas: 2,5,687,3254
User input as a tuple: ('2', '5', '687', '3254')

### 43. Swap two elements in a tuple.

In [150]:
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)
index1 = 1  
index2 = 3  
# Swap the elements
my_list[index1], my_list[index2] = my_list[index2], my_list[index1]
swapped_tuple = tuple(my_list)
print(swapped_tuple)

(1, 4, 3, 2, 5)

### 44. Reverse the elements of a tuple.

In [151]:
original_tuple = (1, 2, 3, 4, 5)
reversed_tuple = original_tuple[::-1]
print(reversed_tuple)

(5, 4, 3, 2, 1)

### 45. Create a tuple of the first `n` powers of 2.

In [152]:
def powers_of_2(n):
    powers = []
    for i in range(n):
        powers.append(2 ** i)
    return tuple(powers)
power_of_2_tuple = powers_of_2(5)
print(power_of_2_tuple)

(1, 2, 4, 8, 16)

### 46. Find the longest string in a tuple of strings.

In [153]:
string_tuple = ("apple", "banana", "cherry", "date", "fig")
longest_string = max(string_tuple, key=len)
print("The longest string is:", longest_string)

The longest string is: banana

### 47. Find the shortest string in a tuple of strings.

In [154]:
string_tuple = ("apple", "banana", "cherry", "date", "fig")
shortest_string = min(string_tuple, key=len)
print("The shortest string is:", shortest_string)

The shortest string is: fig

### 48. Create a tuple of the first `n` triangular numbers.

In [155]:
def triangular_numbers(n):
    triangulars = []
    for i in range(1, n + 1):
        triangulars.append(i * (i + 1) // 2)
    return tuple(triangulars)
triangular_tuple = triangular_numbers(5)
print(triangular_tuple)

(1, 3, 6, 10, 15)

### 49. Check if a tuple contains another tuple as a subsequence.

In [156]:
def is_subsequence(subsequence, sequence):
    m, n = len(subsequence), len(sequence)
    i, j = 0, 0

    while i < m and j < n:
        if subsequence[i] == sequence[j]:
            i += 1
        j += 1

    return i == m
main_tuple = (1, 2, 3, 4, 5, 6, 7)
sub_tuple = (3, 4, 5)

if is_subsequence(sub_tuple, main_tuple):
    print("The sub_tuple is a subsequence of main_tuple.")
else:
    print("The sub_tuple is not a subsequence of main_tuple.")

The sub_tuple is a subsequence of main_tuple.

### 50. Create a tuple of alternating 1s and 0s of length `n`.

In [157]:
def alternating_ones_zeros(n):
    return tuple(1 if i % 2 == 0 else 0 for i in range(n))

# Create a tuple of alternating 1s and 0s of length 10
alternating_tuple = alternating_ones_zeros(10)

print(alternating_tuple)

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

# Set Based Practice Problem :

### 1. Create a set with integers from 1 to 5.

In [158]:
s1 = set(range(1,6))
s1

{1, 2, 3, 4, 5}

### 2. Add an element to a set.

In [159]:
s1 = {1,2,3,4,5}
s1.add(6)
s1

{1, 2, 3, 4, 5, 6}

### 3. Remove an element from a set.

In [160]:
s1= {1,2,3,4,5}
s1.remove(3)
s1

{1, 2, 4, 5}

### 4. Check if an element exists in a set.

In [161]:
s2 = {25,78,10,59,86}
def check_element(set):
    element = 10
    if element in s2:
        print(f"{element} exists in a set")
    else:
        print(f"{element} does not exists in a set")

check = check_element(s2)

10 exists in a set

### 5. Find the length of a set without using the `len()` function.

In [162]:
s2 = {2,5,8,9,10,25,47}
set_length = 0
for i in s2:
    set_length += 1
print(set_length)

7

### 6. Clear all elements from a set.

In [163]:
set2 = {25,78,95,24,36,68,58}
set2.clear()
set2

set()

### 7. Create a set of even numbers from 1 to 10.

In [164]:
s2 = set()
for i in range(1,11):
    if i % 2 == 0:
        s2.add(i)
print(s2)

{2, 4, 6, 8, 10}

### 8. Create a set of odd numbers from 1 to 10.

In [168]:
s3 = set()
for i in range(1,11):
    if i % 2 != 0:
        s3.add(i)
print(s3)

{1, 3, 5, 7, 9}

### 9. Find the union of two sets.

In [172]:
s1 = {1,2,3,4,5}
s2 = {6,7,8,9,10}
union = s1.union(s2)
print(union)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### 10. Find the intersection of two sets.

In [175]:
s1 = {1,2,3,4,5,6,7}
s2 = {6,7,8,9,10}
intersection = s1.intersection(s2)
print(intersection)

{6, 7}

### 11. Find the difference between two sets.

In [178]:
s1 = {1,2,3,4,5,6,7}
s2 = {6,7,8,9,10}
difference = s1.difference(s2)
print(difference)

{1, 2, 3, 4, 5}

### 12. Check if a set is a subset of another set.

In [180]:
s1 = {1,2,3,4,5,6,7,8,9,10}
s2 = {3,5,6,8,10}
def check_subset(s1,s2):
    if s2.issubset(s1):
        print("s2 is a subset of s1")
check = check_subset(s1,s2)

s2 is a subset of s1

### 13. Check if a set is a superset of another set.

In [184]:
s1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
s2 = {3, 5, 6, 8, 10}

def check_superset(s1, s2):
    if s1.issuperset(s2):
        print("s1 is a superset of s2")
    else:
        print("s1 is not a superset of s2")

check_superset(s1, s2)

s1 is a superset of s2

### 14. Create a set from a list.

In [186]:
list1 = [25,48,'apple',45]
set1 = set(list1)
print(set1)

{48, 25, 45, 'apple'}

### 15. Convert a set to a list.

In [187]:
set2 = {48, 25, 45, 'apple'}
list1 = list(set2) 
print(list1)

[48, 25, 45, 'apple']

### 16. Remove a random element from a set.

In [188]:
set2 = {2,7,89,54,152,78,25,185,485}
set2.remove(78)
set2

{2, 7, 25, 54, 89, 152, 185, 485}

### 17. Pop an element from a set.

In [193]:
set2 = {2, 7, 89, 54, 152, 78, 25, 185, 485}
print("Original set:", set2)

popped_element = set2.pop()

print("Popped element:", popped_element)
print("Updated set:", set2)

Original set: {89, 2, 485, 7, 78, 54, 152, 185, 25}
Popped element: 89
Updated set: {2, 485, 7, 78, 54, 152, 185, 25}

### 18. Check if two sets have no elements in common.

In [194]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7}

if set1.isdisjoint(set2):
    print("The sets have no elements in common.")
else:
    print("The sets have elements in common.")

The sets have no elements in common.

### 19. Find the symmetric difference between two sets.

In [195]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

symmetric_diff = set1.symmetric_difference(set2)
print(symmetric_diff)

{1, 2, 3, 6, 7, 8}

### 20. Update a set with elements from another set.

In [196]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.update(set2)  
print(set1)

{1, 2, 3, 4, 5}

### 21. Create a set of the first 5 prime numbers.

In [197]:
prime_numbers = {2, 3, 5, 7, 11}

### 22. Check if two sets are identical.

In [198]:
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

### 23. Create a frozen set.

In [200]:
my_set = {1, 2, 3, 4, 5}
my_frozen_set = frozenset(my_set)
print(my_frozen_set)

frozenset({1, 2, 3, 4, 5})

### 24. Check if a set is disjoint with another set.

In [203]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7}
if set1.isdisjoint(set2):
    print("The sets are disjoint (have no common elements).")
else:
    print("The sets have elements in common.")

The sets are disjoint (have no common elements).

### 25. Create a set of squares of numbers from 1 to 5.

In [204]:
squares = {x**2 for x in range(1, 6)}
print(squares)

{1, 4, 9, 16, 25}

### 26. Filter out all even numbers from a set.

In [206]:
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
odd_numbers_set = {x for x in my_set if x % 2 != 0}
print(odd_numbers_set)

{1, 3, 5, 7, 9}

### 27. Multiply all elements in a set by 2.

In [210]:
set1= {2,4,5,7,8,9}
result_set = {x*2 for x in set1}
result_set

{4, 8, 10, 14, 16, 18}

### 28. Create a set of random numbers.

In [211]:
import random
random_set = set(random.sample(range(1,101),10))
print(random_set)

{97, 98, 3, 4, 99, 10, 85, 94, 26, 30}

### 29. Check if a set is empty.

In [212]:
my_set = set()  
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

### 30. Create a nested set (hint: use frozenset).

In [216]:
nested_set = {frozenset({1, 2, 3}), frozenset({4, 5, 6})}
nested_set

{frozenset({1, 2, 3}), frozenset({4, 5, 6})}

### 31. Remove an element from a set using the discard method.

In [217]:
my_set = {1, 2, 3, 4, 5}
my_set.discard(3)
print(my_set)

{1, 2, 4, 5}

In [218]:
### 32. Compare two sets.

In [219]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}

if set1 == set2:
    print("The sets are equal.")
else:
    print("The sets are not equal.")

The sets are equal.

### 33. Create a set from a string.

In [220]:
my_string = "hello"
my_set = set()

for char in my_string:
    my_set.add(char)

print(my_set)

{'e', 'h', 'l', 'o'}

### 34. Convert a set of strings to a set of integers.

In [222]:
set_of_strings = {"1", "2", "3", "4", "5"}
set_of_integers = set()
for string in set_of_strings:
    integer = int(string)
    set_of_integers.add(integer)

print(set_of_integers)

{1, 2, 3, 4, 5}

### 35. Convert a set of integers to a set of strings.

In [223]:
set_of_integers = {1, 2, 3, 4, 5}
set_of_strings = set()

for integer in set_of_integers:
    string = str(integer)
    set_of_strings.add(string)

print(set_of_strings)

{'3', '2', '4', '1', '5'}

### 36. Create a set from a tuple.

In [224]:
my_tuple = (1, 2, 3, 4, 5)
my_set = set(my_tuple)
my_set

{1, 2, 3, 4, 5}

### 37. Convert a set to a tuple.

In [225]:
my_set = {1, 2, 3, 4, 5}
my_tuple = tuple(my_set)
my_tuple

(1, 2, 3, 4, 5)

### 38. Find the maximum value in a set.

In [226]:
my_set = {2, 7, 89, 54, 152, 78, 25, 185, 485}
max_value = max(my_set)
print("The maximum value in the set is:", max_value)

The maximum value in the set is: 485

### 39. Find the minimum value in a set.

In [227]:
my_set = {2, 7, 89, 54, 152, 78, 25, 185, 485}
min_value = min(my_set)
print("The minimum value in the set is:", min_value)

The minimum value in the set is: 2

### 40. Create a set from user input.

In [228]:
user_input = input("Enter values separated by spaces or commas: ")
values = user_input.split()
user_set = set(values)
print("User set:", user_set)

Enter values separated by spaces or commas: 25,78,14,25,69,32,89,75
User set: {'25,78,14,25,69,32,89,75'}

### 41. Check if the intersection of two sets is empty.

In [229]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7}
if set1.isdisjoint(set2):
    print("The intersection of the sets is empty.")
else:
    print("The sets have elements in common.")

The intersection of the sets is empty.

### 42. Create a set of the first 5 Fibonacci numbers.

In [230]:
fibonacci_set = set()
a, b = 0, 1
for _ in range(5):
    fibonacci_set.add(a)
    a, b = b, a + b

print(fibonacci_set)

{0, 1, 2, 3}

### 43. Remove duplicates from a list using sets.

In [231]:
my_list = [1, 2, 2, 3, 4, 4, 5, 5]
my_list = list(set(my_list))
print(my_list)

[1, 2, 3, 4, 5]

### 44. Check if two sets have the same elements, regardless of their count.

In [232]:
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

if set1 == set2:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

### 45. Create a set of the first `n` powers of 2.

In [233]:
n = 5 
powers_of_2_set = {2 ** i for i in range(n)}
print(powers_of_2_set)

{1, 2, 4, 8, 16}

### 46. Find the common elements between a set and a list.

In [236]:
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]
common_elements = my_set & set(my_list)
print(common_elements)

{3, 4, 5}

### 47. Create a set of the first `n` triangular numbers.

In [237]:
n = 5 
triangular_numbers_set = {sum(range(1, i + 1)) for i in range(1, n + 1)}
print(triangular_numbers_set)

{1, 3, 6, 10, 15}

### 48. Check if a set contains another set as a subset.

In [238]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {2, 4, 6}

if set2.issubset(set1):
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

set2 is a subset of set1.

### 49. Create a set of alternating 1s and 0s of length `n`.

In [239]:
n = 10
alternating_set = {1 if i % 2 == 0 else 0 for i in range(n)}
print(alternating_set)

{0, 1}

### 50. Merge multiple sets into one.

In [240]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
merged_set = set1.union(set2, set3)
print(merged_set)

{1, 2, 3, 4, 5, 6, 7}